/* * {
    color: antiquewhite;
} */
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding:0em 2em;
    color: white;
}
.side {
    display: flex;
    gap: 1em;
    colo
}
.first {
    background-color: black;
    border:1px solid beige;
}
.second {
    background-color: blue;
}
.color {
    background-color: #dadbf1;
    color: black;
    place-items: center;
    padding: 2em;
}
button {
    color: white;
}
input {
    display: block;
    place-items: center;
    width: 20em;
}