* {
    box-sizing: border-box;
    margin: 10px;
    text-transform: capitalize;
}
span {
    font-weight: bolder;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 150px;
    height: 150px;
}
.text{
    text-align: center;
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
/* ul{
    padding: 0px;
} */
 .pflex {
    display: flex;
    text-align: left;
 }
 .undo{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 45px;
    text-align: left;
 }
 .margin{
    margin-left: 190px;
}
.flex{
    display: flex;
    justify-content: space-between;
}