body{
    color: aquamarine;
    background-color: rgb(11, 7, 8);
    font-family: monospace;
    font-weight: 800;
    font-style: italic;
    font-size: xx-large;
    background-image: image();
}

h1{
    text-align: center;
}

span{
    font-style: normal;
}

a:active{
    color: brown;
}
a:hover{
    color: bisque;
}
a{
    color: chartreuse;
}
button{
    color: rgb(0, 0, 0);
    background-color: aqua;
}
.radio{
    text-transform: capitalize;
    color: rgb(224, 9, 145);
}